{{> nav}}

<form action ="/api/productos" method="POST"><br>
         Nombre: <input type="text" name="producto"><br>
         Precio: <input type="text" name="precio"><br>
         URL de la imagen: <input type="text" name="url"><br>
        <input type="submit" value="cargar">
    </form>