<link rel="stylesheet" type="text/css" href="http://localhost:8080/api/estilos.css" />

<style type="text/css">
  table { width:500px; border-width: 1px;
  border-style: solid;
  border-color: black; }
  *{
      margin: auto;
  }
</style>

<a href="http://localhost:8080/api/">Cargar</a>
<a href="http://localhost:8080/api/productos">Visualizar</a>